*{
  margin: 0;
}


html, body {  
    height: 100%;
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #292c2d;
    color: white;
    display: flex;
    flex-direction: column;
  }

main{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    gap: 2em;
    flex:1;
}

header {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

a{
  text-decoration: none;
  color:blue;
}

a:visited{
  text-decoration: none;
  color:blue;
}

ul{
  display: flex;
  justify-content: space-around;
  padding: 0.5em;
  list-style: none;
  }

header li {
    cursor: pointer;
}

h1{
    text-align: center;
    padding: 1em;
}

.principal{
  display: flex;
  justify-content: space-around;
  gap: 3em;
}

.columna{
  flex: 1;
}

.miniatura:hover{
  transition: transform 0.4s ease;
  transform: scale(1.5,1.5);
}

.similares{
  display: flex;
}

footer{
  margin-top: 1em;
  background-color: #eeee;
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
}

/*User vista en 3 columnas*/

.form_columnas{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  }

#avatar{
  width: 12em;
}
.columna_1{
  width: 20%;
}

.ordenar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.columna_2{
  width: 40%;
}

.a_izquierda{
  width: 45%;
}

.a_derecha{
  width: 55%;
}

.botones{
  display: flex;
  justify-content: center;
  gap: 3em;
}

.boton{
  padding: 1em;
  width: 20%;
}

.guardar{
  background-color: rgb(162, 219, 77);
}

.cancelar{
  background-color: rgb(240, 94, 94);
}